@import "compass/reset";

body {
  /*background: #f12711; !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #f5af19, #f12711); !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #f5af19, #f12711); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  background:
          repeating-radial-gradient(circle at bottom left, #fedc00, #fcb712, #f7921e, #e87f24, #dd6227, #dc4c27, #ca3435, #b82841, #953751, #364c88, #16599d, #02609e, #0073a9, #008aa4, #239a87, #7cba6d, #becc2f, #e0d81d),
          repeating-radial-gradient(circle at bottom right, #fedc00, #fcb712, #f7921e, #e87f24, #dd6227, #dc4c27, #ca3435, #b82841, #953751, #364c88, #16599d, #02609e, #0073a9, #008aa4, #239a87, #7cba6d, #becc2f, #e0d81d);
  background-blend-mode: overlay;
  background-attachment: fixed;
  height: 100vh;
  color: white;
  font-family: 'Fira Code', monospace;
  text-align: justify;
  padding: 0;
  margin: 0;
}

#under {
  background: url("pattern.png") fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body * {
  box-sizing: border-box;
  margin: 0;
}

#main {
  width: 300px;
  margin: auto;
}

#under header {
  margin: 0 0 20px;
  box-shadow: 0 2px 10px #111;
  background: url("pattern.png") #00a49b;
  padding: 4px 10px;
  text-align: center;
  position: relative;
  z-index: 10;
}

header img {
  height: 1.4em;
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
}

header #title {
  display: inline-block;
}

h1 {
  font-size: 1.4em;
  margin: 0;
}

h2 {
  margin: -7px 0 0;
  position: relative;
  left: 2px;
  font-size: 1em;
  font-weight: normal;
}

#message {
  cursor: pointer;
}

#toTranslate {
  text-align: justify;
}

#to-translate {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 1px;
}

header, form {
  margin: 30px 0;
}

input, button, select, label {
  border-radius: 0;
  color: white;
  background: none;
  border: none;
  border-bottom: 2px solid;
}

select {
  appearance: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

input {
  width: 70%;
  vertical-align: bottom;
  font-size: 1.5em;
  padding: 0 0 0 5px;
}

input::placeholder {
  color: #ddd;
}

button {
  width: 30%;
  padding: 0;
  cursor: pointer;
  text-align: right;

  img {
    height: 1.4em;
  }
}

@import "chat";

#main form {
  position: absolute;
  bottom: 0;
  width: 300px;
  margin-bottom: 6px;
}